@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

<div>
    @(Html.Kendo().Grid<WPH.Areas.Admin.Models.BaseInfoType.BaseInfoTypeViewModel>()
    .Name("baseInfoTypeKendoGrid")
    .Columns(columns =>
    {

        //if (HttpContextAccessor.HttpContext.Session.GetString("culture") != "en")
        //{
        //    columns.Bound("").Title(" ").Width(30).HtmlAttributes(new { @style = "text-align:center;" })
        //    .ClientTemplate(
        //        @"<a class='tooltip-success grid-btn ' onClick='ConvertToUser(this)' data-id='#=Guid#' data-rel='tooltip' title='ConvertToUser' data-original-title='ConvertToUser'>
        //            <span class='#if(User.IsUser){#green#}else{#grey#}#'>
        //                <i class='ace-icon fa fa-user-plus bigger-120'></i>
        //            </span>
        //        </a>
        //    ");

        //    columns.Bound("").Title(" ").Width(30)
        //    .ClientTemplate(
        //        @"<a class='tooltip-error grid-btn' onClick='GridDeleteFunction(this);' data-id='#=Guid#' data-rel='tooltip' title='Delete' data-original-title='Delete'>
        //            <span class='red'>
        //                <i class='ace-icon fa fa-trash-can bigger-120'></i>
        //            </span>
        //        </a>
        //    ");

        //    columns.Bound("").Title(" ").Width(30)
        //    .ClientTemplate(
        //        @"<a class='tooltip-success grid-btn edit' onClick='EditDoctor(this);' data-id='#=Guid#' data-rel='tooltip' title='Edit' data-original-title='Edit'>
        //            <span class='green'>
        //                <i class='ace-icon fa fa-pencil bigger-120'></i>
        //            </span>
        //        </a>
        //    ");


        //    columns.Bound(x => x.MedicalSystemCode).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["MedicalSystemCode"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
        //    columns.Bound(x => x.SpecialityName).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["DoctorSpeciality"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
        //    columns.Bound(x => x.User.PhoneNumber).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Mobile"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
        //    columns.Bound(x => x.User.Name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Name"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
        //    columns.Bound(x => x.Index).Filterable(false).Width(30).Title("").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" }).Width(30);
        //    columns.Bound(x => x.Id).Hidden();
        //    columns.Bound(x => x.Guid).Hidden();
        //    columns.Bound(x => x.User.IsUser).Hidden();

        //}
        //else
        {
            columns.Bound(x => x.Guid).Hidden();
            columns.Bound(x => x.Id).Hidden();
            columns.Bound(x => x.Index).Filterable(false).Width(30).Title("").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" }).Width(30);
            columns.Bound(x => x.Ename).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title("Ename").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.Fname).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title("Fname").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            
            columns.Bound("").Title(" ").Width(30).HtmlAttributes(new { @style = "text-align:center;" })
            .ClientTemplate(
                @"<a class='tooltip-success grid-btn edit' onClick='EditBaseInfoType(this)' data-id='#=Guid#' data-rel='tooltip' title='Edit' data-original-title='Edit'>
                    <span class='green'>
                        <i class='ace-icon fa fa-pencil bigger-120'></i>
                    </span>
                </a>
            ");

            columns.Bound("").Title(" ").Width(30)
            .ClientTemplate(
                @"<a class='tooltip-error grid-btn' onClick='BaseInfoTypeDeleteFunction(this);' data-id='#=Guid#' data-rel='tooltip' title='Delete' data-original-title='Delete'>
                    <span class='red'>
                        <i class='ace-icon fa fa-trash-can bigger-120'></i>
                    </span>
                </a>
            ");

            columns.Bound("").Title(" ").Width(30).HtmlAttributes(new { @style = "text-align:center;" })
            .ClientTemplate(
                @"<a class='tooltip-success grid-btn ' onClick='SetBaseInfoSectioType(this)' data-id='#=Guid#' data-rel='tooltip' title='SetBaseInfoSectioType' data-original-title='SetBaseInfoSectioType'>
                    <span class='purple'>
                        <i class='ace-icon fa fa-plus-circle bigger-120'></i>
                    </span>
                </a>
            ");

        }

    })

        .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.Guid);
        })
        .PageSize(10)
        .Read(read => read.Action("GetAll", "BaseInfoType", new { area = "Admin" }))
        )
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .Pageable(pageable => pageable
        .Input(true)
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5)
        .Numeric(true)) // Enable paging

        .Sortable().HtmlAttributes(new { @style = "direction: ltr;margin-top:2rem;overflow:auto" }) // Enable sorting


    )
</div>


<script>


    $(document).ready(function () {

        $("#baseInfoTypeKendoGrid").on("dblclick", "tr.k-state-selected", function (element) {

            $("#baseInfoTypeKendoGrid").find("tr.k-state-selected td a.edit").click();

        });

    })

</script>