
@*@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer*@

<div>
    @(Html.Kendo().Grid<WPH.Areas.Admin.Models.SectionManagement.SectionsNameViewModel>()
    .Name("sectionsKendoGrid")
    .Columns(columns =>
    {

        
            columns.Bound(x => x.Id).Hidden();
            columns.Bound(x => x.Index).Filterable(false).Title("#").Width(20).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.Name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title("Name").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.Priority).Filterable(false).Title("Priority").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.Description).Filterable(false).Title("Description").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });

            columns.Bound("").Title(string.Empty).Width(10).HtmlAttributes(new { @style = "text-align:center;" })
            .ClientTemplate(
                @"<a class='tooltip-success grid-btn ' onClick='ShowSectionSubsystems(this)' data-id='#=Id#' data-rel='tooltip' title='ShowSubsystems' data-original-title='ShowSubsystems'>
                    <span class='blue'>
                        <i class='ace-icon fa fa-chevron-circle-right bigger-120' aria-hidden='true'></i>
                    </span>
                </a>
            ");

            columns.Bound("").Title(string.Empty).Width(10).HtmlAttributes(new { @style = "text-align:center;" })
            .ClientTemplate(
                @"<a class='tooltip-success grid-btn edit' onClick='EditSection(this)' data-id='#=Id#' data-rel='tooltip' title='EditSection' data-original-title='Edit'>
                    <span class='green'>
                        <i class='ace-icon fa fa-pencil bigger-120'></i>
                    </span>
                </a>
            ");

            columns.Bound("").Title(string.Empty).Width(10).HtmlAttributes(new { @style = "text-align:center;" })
            .ClientTemplate(
                @"<a class='tooltip-error grid-btn' onClick='SectionDeleteFunction(this)' data-id='#=Id#' data-rel='tooltip' title='DeleteSection' data-original-title='Delete'>
                    <span class='red'>
                        <i class='ace-icon fa fa-trash-can bigger-120'></i>
                    </span>
                </a>
            ");

        
    })

        .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.Id);
        })
        .PageSize(10)
        .Read(read => read.Action("GetAllSectionsGrid", "SectionManagement", new { area = "Admin" }))
        )
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .Pageable(pageable => pageable
        .Input(true)
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(3)
        .Numeric(true)) // Enable paging
        .Sortable().HtmlAttributes(new { @style = "direction: ltr;margin-top:2rem;overflow:auto" }) // Enable sorting
    )
</div>

<script>

    $(document).ready(function () {

        $("#sectionsKendoGrid").on("dblclick", "tr.k-state-selected", function (element) {

            $("#sectionsKendoGrid").find("tr.k-state-selected td a.edit").click();

        });

    })

</script>