@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

<div>
    @(Html.Kendo().Grid<WPH.Models.AnalysisResultMaster.AnalysisResultMasterGridViewModel>()
    .Name("kendoAnalysisResultMasterGrid")
    .HtmlAttributes(new { Class = "k-grid-header" })
    .Columns(columns =>
    {

        if (HttpContextAccessor.HttpContext.Session.GetString("culture") != "en")
        {

            
                columns.Bound("").Title("").Width(30)
                .ClientTemplate(
                    @"<a class='tooltip-success grid-btn' onClick='PrintAnalysisReport(this)'  data-sectionTypeName='#=ClinicSectionTypeName#'  data-id='#=Guid#' data-rel='tooltip' title='Print' data-original-title='Edit'>
                        <span class='blue'>
                            <i class='ace-icon fa fa-print bigger-120'></i>
                        </span>
                    </a>
                ");
            


            columns.Bound(x => x.Gender).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Gender"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.Age).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Age"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.PatientName).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["PatientName"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.InvoiceDate).Filterable(false).Format("{0: dd/MM/yyyy}").Title(Localizer["InvoiceDate"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.Index).Filterable(false).Width(5).Title("#").HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" }).Width(30);
            columns.Bound(x => x.Guid).Hidden();
            columns.Bound(x => x.ReceptionId).Hidden();
            columns.Bound(x => x.ClinicSectionTypeName).Hidden();
        }
        else
        {
            columns.Bound(x => x.Guid).Hidden();
            columns.Bound(x => x.ClinicSectionTypeName).Hidden();
            columns.Bound(x => x.ReceptionId).Hidden();
            columns.Bound(x => x.Index).Filterable(false).Title("#").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" }).Width(30);
            columns.Bound(x => x.InvoiceDate).Filterable(false).Format("{0: dd/MM/yyyy}").Title(Localizer["InvoiceDate"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.PatientName).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["PatientName"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.Age).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Age"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.Gender).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Gender"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            
            
                columns.Bound("").Title("").Width(30)
                .ClientTemplate(
                    @"<a class='tooltip-success grid-btn' onClick='PrintAnalysisReport(this)'   data-sectionTypeName='#=ClinicSectionTypeName#'   data-id='#=Guid#' data-rel='tooltip' title='Print' data-original-title='Edit'>
                        <span class='blue'>
                            <i class='ace-icon fa fa-print bigger-120'></i>
                        </span>
                    </a>
                ");
            
        }

    })

        .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.Guid);
        })
        //.Sort(sort => sort.Add("InvoiceDate").Descending())
        .PageSize(10)
        .Read(read => read.Action("GetAllPatientAnalysisResult", "AnalysisResultMaster").Data("GetPatientId"))
        )
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .Pageable(pageable => pageable
        .Input(true)
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5)
        .Numeric(true)) // Enable paging

        .Sortable().HtmlAttributes(new { @style = "direction: ltr;margin-top:2rem;overflow:auto" }) // Enable sorting


    )
</div>








<script>

    $(document).ready(function () {

        $("#kendoAnalysisResultMasterGrid").on("dblclick", "tr.k-state-selected", function (element) {

            $("#kendoAnalysisResultMasterGrid").find("tr.k-state-selected td a.edit").click();

        });

    })

    

    function PrintAnalysisReport(element) {
        
        let id = $(element).attr("data-id");
        let type = $(element).attr("data-sectionTypeName");
        let link = "";
        if (type === "Radiology") {
            link = "/AnalysisResultMaster/PrintAnalysisResultReportRadiology";
        }
        else {
            link = "/AnalysisResultMaster/PrintAnalysisResultReport";
        }

        $(".loader").removeClass("hidden");
        $.ajax({
            url: link,
            type: "Post",
            data: { AnalysisResultMasterId: id },
            success: function (response) {

                draw2(response);
                $(".loader").fadeIn("slow");
                $(".loader").addClass("hidden");

                $.ajax({
                    url: "/AnalysisResultMaster/IncreasePrintNumber",
                    type: "Post",
                    data: { AnalysisResultMasterId: id },
                    success: function (response) {

                        $(".k-pager-refresh")[0].click();
                    },

                });

            },
            error: function (response) {

            }
        });


    }



</script>
