@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{

    string edit_title = Localizer["EditDoctor"];
    string remove_title = Localizer["RemoveDoctor"];
    string user_title = Localizer["ConvertToUser"];
    string logo_title = Localizer["DoctorPrescriptionLogo"];
}

<div>
    @(Html.Kendo().Grid<WPH.Models.CustomDataModels.Doctor.DoctorViewModel>()
    .Name("kendoDoctorGrid")
    .Columns(columns =>
    {

        if (HttpContextAccessor.HttpContext.Session.GetString("culture") != "en")
        {
            if ((bool)ViewBag.AccessEditUser)
            {
                columns.Bound("").Title(" ").Width(30).HtmlAttributes(new { @style = "text-align:center;" })
                .ClientTemplate(
                   $"<a class='tooltip-success grid-btn ' onClick='ConvertToUser(this)' data-id='#=Guid#' data-rel='tooltip' title='{user_title}' data-original-title='ConvertToUser'> "+
                        @"<span class='#if(User.IsUser){#green#}else{#grey#}#'>
                            <i class='ace-icon fa fa-user-plus bigger-120'></i>
                        </span>
                    </a>
                ");
            }

            if ((bool)ViewBag.AccessDeleteSubDoctor)
            {
                columns.Bound("").Title(" ").Width(30)
                .ClientTemplate(
                   $@"<a class='tooltip-error grid-btn' onClick='GridDeleteFunction(this);' data-id='#=Guid#' data-rel='tooltip' title='{remove_title}' data-original-title='Delete'>
                        <span class='red'>
                            <i class='ace-icon fa fa-trash-can bigger-120'></i>
                        </span>
                    </a>
                ");

            }

            if ((bool)ViewBag.AccessEditSubDoctor)
            {
                columns.Bound("").Title(" ").Width(30)
                .ClientTemplate(
                   $@"<a class='tooltip-success grid-btn edit' onClick='EditDoctor(this);' data-id='#=Guid#' data-rel='tooltip' title='{edit_title}' data-original-title='Edit'>
                        <span class='green'>
                            <i class='ace-icon fa fa-pencil bigger-120'></i>
                        </span>
                    </a>
                ");

            }

            columns.Bound("").Title(" ").Width(30)
            .ClientTemplate(
               $@"<a class='tooltip-error grid-btn' onClick='SetDoctorReportLogo(this);' data-id='#=Guid#' data-rel='tooltip' title='{logo_title}' data-original-title='ReportLogo'>
                    <span class='purple'>
                        <i class='ace-icon fa fa-image bigger-120'></i>
                    </span>
                </a>
            ");

            columns.Bound(x => x.MedicalSystemCode).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["MedicalSystemCode"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.SpecialityName).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["DoctorSpeciality"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.User.PhoneNumber).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Mobile"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.User.Name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Name"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.Index).Filterable(false).Width(30).Title("").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" }).Width(30);
            columns.Bound(x => x.Id).Hidden();
            columns.Bound(x => x.Guid).Hidden();
            columns.Bound(x => x.User.IsUser).Hidden();

        }
        else
        {
            columns.Bound(x => x.User.IsUser).Hidden();
            columns.Bound(x => x.Guid).Hidden();
            columns.Bound(x => x.Id).Hidden();
            columns.Bound(x => x.Index).Filterable(false).Width(30).Title("").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" }).Width(30);
            columns.Bound(x => x.User.Name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Name"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.User.PhoneNumber).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Mobile"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.SpecialityName).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["DoctorSpeciality"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.MedicalSystemCode).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["MedicalSystemCode"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });

            columns.Bound("").Title(" ").Width(30)
            .ClientTemplate(
               $@"<a class='tooltip-error grid-btn' onClick='SetDoctorReportLogo(this);' data-id='#=Guid#' data-rel='tooltip' title='{logo_title}' data-original-title='ReportLogo'>
                    <span class='purple'>
                        <i class='ace-icon fa fa-image bigger-120'></i>
                    </span>
                </a>
            ");


            if ((bool)ViewBag.AccessEditSubDoctor)
            {
                columns.Bound("").Title(" ").Width(30).HtmlAttributes(new { @style = "text-align:center;" })
                .ClientTemplate(
                   $@"<a class='tooltip-success grid-btn edit' onClick='EditDoctor(this)' data-id='#=Guid#' data-rel='tooltip' title='{edit_title}' data-original-title='Edit'>
                        <span class='green'>
                            <i class='ace-icon fa fa-pencil bigger-120'></i>
                        </span>
                    </a>
                ");

            }

            if ((bool)ViewBag.AccessDeleteSubDoctor)
            {
                columns.Bound("").Title(" ").Width(30)
                .ClientTemplate(
                   $@"<a class='tooltip-error grid-btn' onClick='GridDeleteFunction(this);' data-id='#=Guid#' data-rel='tooltip' title='{remove_title}' data-original-title='Delete'>
                        <span class='red'>
                            <i class='ace-icon fa fa-trash-can bigger-120'></i>
                        </span>
                    </a>
                ");

            }

            if ((bool)ViewBag.AccessEditUser)
            {
                columns.Bound("").Title(" ").Width(30).HtmlAttributes(new { @style = "text-align:center;" })
                .ClientTemplate(
                   $"<a class='tooltip-success grid-btn ' onClick='ConvertToUser(this)' data-id='#=Guid#' data-rel='tooltip' title='{user_title}' data-original-title='ConvertToUser'> "+
                        @"<span class='#if(User.IsUser){#green#}else{#grey#}#'>
                            <i class='ace-icon fa fa-user-plus bigger-120'></i>
                        </span>
                    </a>
                ");
            }
        }

    })

        .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.Guid);
        })
        .PageSize(10)
        .Read(read => read.Action("GetAll", "Doctor"))
        )
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .Pageable(pageable => pageable
        .Input(true)
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5)
        .Numeric(true)) // Enable paging

        .Sortable().HtmlAttributes(new { @style = "direction: ltr;margin-top:2rem;overflow:auto" }) // Enable sorting


    )
</div>

<h3 id="editHeader" class="hidden"> @Localizer["Doctor"] - @Localizer["Edit"]  </h3>

<script>


    $(document).ready(function () {

        $("#kendoDoctorGrid").on("dblclick", "tr.k-state-selected", function (element) {

            $("#kendoDoctorGrid").find("tr.k-state-selected td a.edit").click();

        });

    })



    function EditDoctor(element) {
        $("#DoctorModal #ERROR_Data").addClass("hidden");
        $("#DoctorModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#DoctorModal').modal('toggle');

        let header = $('#editHeader').text();
        $('#DoctorModal-header').text(header);

        var link = $("#GridEditLink").attr("data-Value");
        var Id = $(element).attr('data-id');
        $(".loader").removeClass("hidden");
        $('#DoctorModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });
    }

</script>