@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/mainViews/_UserHandlerLayout.cshtml";
}


<div class="position-relative">
    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/UserHandler/Login.cshtml")
</div><!-- /.position-relative -->