@model int

@inject WPH.Resources.SharedViewLocalizer Localizer

<style>

    #SubsystemSectionContainer li,
    #SubsystemAccessContainer li {
        list-style: none;
        padding-bottom: 1em;
    }
</style>

<input type="hidden" id="SubSystemId" value="@Model" />

<div style=" overflow: hidden;">

    <div class="col-sm-12">

        <div class="col-sm-6">
            <div class="modal-header">
                <h2 class="smaller lighter no-margin ">
                    @Localizer["Section"]
                </h2>
            </div>
            <div style="padding: 15px 0px;">
                <ul id="SubsystemSectionContainer">
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="modal-header">
                <h2 class="smaller lighter no-margin ">
                    @Localizer["Access"]
                </h2>
            </div>
            <div style="padding: 15px 0px;">
                <ul id="SubsystemAccessContainer">
                </ul>
            </div>
        </div>

    </div>

</div>

<script>

    $(document).ready(function () {

        $.ajax({
            type: "Get",
            url: "/Admin/BaseInfoType/GetSubsystemSectioType?subSystemId=@Model",
            success: function (response) {
                var elements = '';

                for (var i = 0; i < response.length; i++) {

                    if (response[i].Checked) {
                        elements +=
                            `<li>
                                <input id="ch${i}" type="checkbox" checked="checked" data-id="${response[i].SectionTypeId}" class="sectionChValue"/>
                                <label for="ch${i}">${response[i].SectionTypeName}</label>
                            </li>`;

                    } else {
                        elements +=
                            `<li>
                                <input id="ch${i}" type="checkbox" data-id="${response[i].SectionTypeId}" class="sectionChValue"/>
                                <label for="ch${i}">${response[i].SectionTypeName}</label>
                            </li>`;

                    }

                }

                var ul = document.getElementById("SubsystemSectionContainer");
                ul.insertAdjacentHTML('afterbegin', elements);

            }
        });

        $.ajax({
            type: "Get",
            url: "/Admin/SectionManagement/GetSubsystemAccess?subSystemId=@Model",
            success: function (response) {
                var elements = '';

                for (var i = 0; i < response.length; i++) {

                    if (response[i].Checked) {
                        elements +=
                            `<li>
                                <input id="ch${i}" type="checkbox" checked="checked" data-id="${response[i].AccessId}" class="accessChValue"/>
                                <label for="ch${i}">${response[i].AccessName}</label>
                            </li>`;

                    } else {
                        elements +=
                            `<li>
                                <input id="ch${i}" type="checkbox" data-id="${response[i].AccessId}" class="accessChValue"/>
                                <label for="ch${i}">${response[i].AccessName}</label>
                            </li>`;

                    }

                }

                var ul = document.getElementById("SubsystemAccessContainer");
                ul.insertAdjacentHTML('afterbegin', elements);

            }
        });

    });

</script>