@model string
@using WPH.Models.CustomDataModels.Medicine


@(Html.Kendo().AutoCompleteFor(m => m)
                          .Name("MedicineJoineryName")
                          .DataTextField("JoineryName")
                          .ValuePrimitive(true)
                          //.Suggest(true)
                          //.Events(events => events.Select("OnMedcineSelect"))
                          .Filter(FilterType.Contains)
                          .MinLength(1)
                          .ClearButton(false)
                          .HighlightFirst(true)
                          //.BindTo(ViewBag.AllMedicinesList as IEnumerable<MedicineViewModel>)
                          //.BindTo(medicines)
                          .HtmlAttributes(new { style = "width:100%" })
//.DataSource(source =>
//{
//    source

//    .Read(read =>
//     {
//         read.Action("GetAllMedicine", "Medicine");
//     });

//})

)


<script>

    
    
    var curCell;
    $(document).ready(function () {

        autocomplete = $("#MedicineJoineryName").data("kendoAutoComplete");
        autocomplete.bind("select", OnMedicineSelect);

        autocomplete.setDataSource(medicines);

    })


    $("#MedicineJoineryName").on('focus', function (e) {
            
            //let value = autocomplete.value();
            //autocomplete.search(value);
    });


    function OnMedicineSelect(e) {
        
        
        var DataItem = this.dataItem(e.item.index());
        
         

        curCell = $("#PrescriptionDetailGrid").find(".k-edit-cell");

        $(curCell).text(DataItem.JoineryName);

        var prevCellText = $(curCell).prev().text();

        

        




        if (prevCellText != "0") {
            
                grid.editCell(curCell.next());
             updateMode = true;
        }

        else {

            $(".loader").removeClass("hidden");
                var visitId = $("#data").attr("data-visitId");
                    $.ajax({
                        url: '/Visit/AddMedicineToVisit',
                        type: "Post",
                        dataType: "JSON",
                        data: { visitId: visitId, medicineId: DataItem.Guid },
                        success: function (eventList) {
                            grid.bind("dataBound", grid_dataBound);
                            $("#PrescriptionDetailGrid").find(".k-i-refresh").click();
                
               
                            $(".loader").fadeIn("slow");
                            $(".loader").addClass("hidden");
                        }

                     });

        }

        //$(curCell).text(DataItem.JoineryName);

        //grid.editCell(curCell.next());

        //$(curCell).next().find("input").val(DataItem.Guid);

        //grid.editCell(curCell.next().next());

        //curCell = $("#PrescriptionDetailGrid").find(".k-edit-cell");

        //$(curCell).html("<span class='k-dirty'></span>" + DataItem.JoineryName);

        //curCell.next().next().find("input").val(DataItem.JoineryName);

        //grid.editCell(curCell.next().next().next());
        //$(curCell).next().next().removeClass("k-edit-cell");

        //grid.closeCell();
        //grid.table.focus();

        //$(curCell).next().html("<span class='k-dirty'></span>" + DataItem.Guid);

        //$(curCell).next().next().addClass("k-dirty-cell")

        //$(curCell).next().next().html("<span class='k-dirty'></span>");
        //$(curCell).next().next().text(DataItem.JoineryName);
        //grid.editCell(curCell.next().next());

    }

    function grid_dataBound() {

        
        grid.editCell("#PrescriptionDetailGrid td:eq(2)");
        grid.unbind("dataBound", grid_dataBound);

    }

    
    

</script>