<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WPH</title>
    @*<link rel="stylesheet" href="~/Content/assets/font-awesome/4.5.0/css/font-awesome.min.css" />*@
    @*<link rel="stylesheet" href="~/Content/assets/font-awesome/6/css/all.min.css" />*@
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ace-skins.min.css" />
    @*<link rel="stylesheet" href="~/Content/assets/css/CustomStyleForApplicationHandler.css" />*@
    <link rel="stylesheet" href="~/Content/assets/css/HomeStyle.css" />
    <link rel="stylesheet" href="~/Content/kendo/css/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/css/kendo.common.min.css" />
    <script src="~/Content/assets/js/jquery-2.1.4.min.js"></script>
    <script src="~/Content/kendo/Js/kendo.all.min.js"></script>
    <script src="~/Content/kendo/Js/kendo.aspnetmvc.min.js"></script>
</head>
<body >

    @RenderBody()



    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/ace-elements.min.js"></script>
    <script src="~/Content/assets/js/ace.min.js"></script>
    <script src="~/Content/Js/UserHandler.js"></script>
    <script src="~/Content/Js/ChangeLanguageFunction.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
