@model WPH.Models.BaseInfo.SectionViewModel

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    string remove_title = Localizer["RemoveVariableValue"];
}

<div>
    @(Html.Kendo().Grid<WPH.Models.CustomDataModels.PatientVariableValue.PatientVariablesValueViewModel>()
        .Name("PatientVariablesValueKendoGrid")
        .Columns(columns =>
        {
        if (HttpContextAccessor.HttpContext.Session.GetString("culture") != "en")
        {
        columns.Bound("").Title(string.Empty).Width(10).HtmlAttributes(new { @style = "text-align:center;" })
        .ClientTemplate(
           $@"<a class='tooltip-error grid-btn edit' onClick='DeleteReceptionTemperature(this);' data-id='#=Guid#' data-type='PatientVariable' data-rel='tooltip' title='{remove_title}' data-original-title='Delete'>
                <span class='red'>
                    <i class='ace-icon fa fa-trash-can bigger-120'></i>
                </span>
            </a>
        ");

        columns.Bound(x => x.Value).Title(Localizer["PatientProgress"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
        columns.Bound(x => x.VariableInsertedDate).Filterable(false).Format("{0: dd/MM/yyyy HH:mm}").Title(Localizer["Date"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
        columns.Bound(x => x.Index).Filterable(false).Width(20).Title("#").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
        columns.Bound(x => x.Guid).Hidden();
        columns.Bound(x => x.ReceptionId).Hidden();

        }
        else
        {
        columns.Bound(x => x.ReceptionId).Hidden();
        columns.Bound(x => x.Guid).Hidden();
        columns.Bound(x => x.Index).Filterable(false).Title("#").Width(20).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
        columns.Bound(x => x.VariableInsertedDate).Filterable(false).Format("{0: dd/MM/yyyy HH:mm}").Title(Localizer["Date"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
        columns.Bound(x => x.Value).Title(Localizer["PatientProgress"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });

        columns.Bound("").Title(string.Empty).Width(10).HtmlAttributes(new { @style = "text-align:center;" })
        .ClientTemplate(
           $@"<a class='tooltip-error grid-btn edit' onClick='DeleteReceptionTemperature(this)' data-id='#=Guid#' data-type='PatientVariable' data-rel='tooltip' title='{remove_title}' data-original-title='Delete'>
                <span class='red'>
                    <i class='ace-icon fa fa-trash-can bigger-120'></i>
                </span>
            </a>
        ");
        }
        })

        .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .Model(model =>
        {
        model.Id(p => p.Guid);
        })
        .PageSize(10)
        .Read(read => read.Action("GetAllPatientSpeceficVariable", "Patient",new{ ReceptionId = Model.Id, VariableName = Model.Name }))
        )
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .Pageable(pageable => pageable
        .Input(true)
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5)
        .Numeric(true)) // Enable paging
        .Sortable().HtmlAttributes(new { @style = "direction: ltr;margin-top:2rem;overflow:auto" }) // Enable sorting
        )
</div>

<script>

    $(document).ready(function () {

        $("#roomKendoGrid").on("dblclick", "tr.k-state-selected", function (element) {

            $("#roomKendoGrid").find("tr.k-state-selected td a.edit").click();

        });

    })

</script>