<div id="footer" class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120">
                <span class="blue bolder">Trifay Hataw</span>
                &copy; 2015-@DateTime.Now.Year
            </span>

            &nbsp; &nbsp;
            
            <div class="loader hidden"></div>
            <div id="settings">
                <div type="hidden" id="RtlSetting" data-setting="@ViewBag.Rtl" />
                <input type="hidden" id="VerticalSideBarSetting" data-setting="@ViewBag.VerticalSideBar" />
                <input type="hidden" id="TwoSideBarSetting" data-setting="@ViewBag.TwoSideBar" />
            </div>

            <div id="js">
                @await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_JavaScript.cshtml")
            </div>
        </div>
    </div>
</div>
