@model bool
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{

    string edit_title = Localizer["EditUser"];
    string remove_title = Localizer["RemoveUser"];
    string active_title = Localizer["ActiveUser"];
    string access_title = Localizer["UserAccess"];
    string human_title = Localizer["ShowHumanResource"];
}

<script>
    function FilterUserManagementGrid() {
        return {
            humanId: $("#filter_user_grid").attr("data-value")
        };
    }
</script>

<div>
    @(Html.Kendo().Grid<WPH.Models.CustomDataModels.UserManagment.UserInformationViewModel>()
    .Name("kendoGrid")
    .Columns(columns =>
    {
        if (HttpContextAccessor.HttpContext.Session.GetString("culture") != "en")
        {
            if ((bool)ViewBag.AccessDeleteUser)
            {
                columns.Bound("").Title(" ").Width(30)
                .ClientTemplate(
                   $@"<a class='tooltip-error grid-btn' data-rel='tooltip' onClick='GridDeleteFunction(this);' data-id='#=Guid#' title='{remove_title}' data-original-title='Delete' data-toggle='modal'>
                        <span class='red'>
                            <i class='ace-icon fa fa-trash-can bigger-120'></i>
                        </span>
                    </a>
                ");
            }

            if ((bool)ViewBag.AccessEditUserAccess)
            {
                columns.Bound("").Title(" ").Width(30)
                .ClientTemplate(
                   $@"<a class='bs-tooltip-bottom grid-btn' data-rel='tooltip' onClick='GridUserAccessFunction(this);' data-name='#=UserName#'  data-id='#=Guid#' title='{access_title}' data-original-title='Access'>
                        <span class='blue'>
                            <i class='ace-icon fa fa-lock bigger-120'></i>
                        </span>
                    </a>
                ");

                columns.Bound("").Title(" ").Width(10)
                .ClientTemplate(
                   $"<a class='bs-tooltip-bottom grid-btn' data-rel='tooltip' onClick='ActiveDeactiveUserFunction(this);' data-id='#=Guid#' title='{active_title}' data-original-title='Active'> "+
                        @"<span class='#if(Active){#blue#}else{#red#}#'>
                            <i class='ace-icon fa fa-eye bigger-120'></i>
                        </span>
                    </a>
                ");
            }

            if ((bool)ViewBag.AccessEditUser)
            {
                columns.Bound("").Title(" ").Width(10)
                .ClientTemplate(
                   $@"<a class='tooltip-success grid-btn edit' data-rel='tooltip' onClick='EditUser(this);' data-id='#=Guid#' title='{edit_title}' data-original-title='Edit' >
                        <span class='green'>
                            <i class='ace-icon fa fa-pencil bigger-120'></i>
                        </span>
                    </a>
                ");
            }

            if (Model){
                columns.Bound("").Title("").Width(10).HtmlAttributes(new { @style = "text-align:center;" })
                .ClientTemplate(
                   $@"<a class='tooltip-success grid-btn' onClick='SelectHumanInUserManager(this);' data-id='#=Guid#' data-rel='tooltip' title='{human_title}' data-original-title='ShowHumanResource'>
                        <span class='blue'>
                            <i class='ace-icon fa fa-chevron-circle-up bigger-120' aria-hidden='true'></i>
                        </span>
                    </a>
                ");
            }

            columns.Bound(x => x.UserTypeName).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["UserType"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.PhoneNumber).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Mobile"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.Id).Filterable(false).Title(Localizer["UserCode"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.UserName).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Username"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.Name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Name"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.Index).Filterable(false).Width(10).Title("#").HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" }).Width(40);
            columns.Bound(x => x.Guid).Hidden();
            columns.Bound(x => x.Active).Hidden();
        }
        else
        {
            columns.Bound(x => x.Guid).Hidden();
            columns.Bound(x => x.Active).Hidden();
            columns.Bound(x => x.Index).Filterable(false).Width(20).Title("#").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" }).Width(40);
            columns.Bound(x => x.Name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Name"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.UserName).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Username"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.Id).Filterable(false).Title(Localizer["UserCode"]).HtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Roboto-grid" }).HeaderHtmlAttributes(new { @style = "text-align:center;", @class = "MyFont-Sarchia-grid" });
            columns.Bound(x => x.PhoneNumber).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["Mobile"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.UserTypeName).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title(Localizer["UserType"]).HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            if(Model){
                columns.Bound("").Title("").Width(10).HtmlAttributes(new { @style = "text-align:center;" })
                .ClientTemplate(
                   $@"<a class='tooltip-success grid-btn' onClick='SelectHumanInUserManager(this);' data-id='#=Guid#' data-rel='tooltip' title='{human_title}' data-original-title='ShowHumanResource'>
                        <span class='blue'>
                            <i class='ace-icon fa fa-chevron-circle-up bigger-120' aria-hidden='true'></i>
                        </span>
                    </a>
                ");
            }

            if((bool)ViewBag.AccessEditUser)
            {
                columns.Bound("").Title(" ").Width(10)
                .ClientTemplate(
                   $@"<a class='tooltip-success grid-btn edit' data-rel='tooltip' onClick='EditUser(this);' data-id='#=Guid#' title='{edit_title}' data-original-title='Edit' >
                        <span class='green'>
                            <i class='ace-icon fa fa-pencil bigger-120'></i>
                        </span>
                    </a>
                ");
            }

            if ((bool)ViewBag.AccessEditUserAccess)
            {
                columns.Bound("").Title(" ").Width(10)
                .ClientTemplate(
                   $"<a class='bs-tooltip-bottom grid-btn' data-rel='tooltip' onClick='ActiveDeactiveUserFunction(this);' data-id='#=Guid#' title='{active_title}' data-original-title='Active'> "+
                        @"<span class='#if(Active){#blue#}else{#red#}#'>
                            <i class='ace-icon fa fa-eye bigger-120'></i>
                        </span>
                    </a>
                ");

                columns.Bound("").Title(" ").Width(10)
                .ClientTemplate(
                   $@"<a class='bs-tooltip-bottom grid-btn' data-rel='tooltip' onClick='GridUserAccessFunction(this);' data-name='#=UserName#'   data-id='#=Guid#' title='{access_title}' data-original-title='Access'>
                        <span class='blue'>
                            <i class='ace-icon fa fa-lock bigger-120'></i>
                        </span>
                    </a>
                ");
            }


            if ((bool)ViewBag.AccessDeleteUser)
            {
                columns.Bound("").Title(" ").Width(30)
                .ClientTemplate(
                   $@"<a class='tooltip-error grid-btn' data-rel='tooltip' onClick='GridDeleteFunction(this);' data-id='#=Guid#' title='{remove_title}' data-original-title='Delete' data-toggle='modal'>
                        <span class='red'>
                            <i class='ace-icon fa fa-trash-can bigger-120'></i>
                        </span>
                    </a>
                ");
            }

        }
    })
    .DataSource(dataSource => dataSource // Configure the Grid data source.
    .Ajax()
    //.ServerOperation(false)
    .Model(model =>
    {
        model.Id(p => p.Guid);
    })// Specify that Ajax binding is used.
    .PageSize(10)
    .Read(read => read.Action("GetAll", "UserManagment").Data("FilterUserManagementGrid")) // Set the action method which will return the data in JSON format.
    )
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
    .Pageable(pageable => pageable
    .Input(true)
    .Refresh(true)
    .Numeric(true)) // Enable paging
    .Sortable().HtmlAttributes(new { @style = "direction: ltr;margin-top:2rem;overflow:auto;height:auto" }) // Enable sorting
    )
</div>


<h3 id="editUserText" class="hidden">@Localizer["Edit"] @Localizer["User"]</h3>
<input class="hidden" type="text" id="filter_user_grid" data-value="" />
<script>


    $(document).ready(function () {

        $("#kendoGrid").on("dblclick", "tr.k-state-selected", function (element) {

            $("#kendoGrid").find("tr.k-state-selected td a.edit").click();

        });
    })

    function EditUser(element) {
        $('#my-modal-edit').modal('toggle');

        let header = $("#editUserText").text();

        $('#edit-modal-header').text(header);

        var link = $("#GridEditLink").attr("data-Value");
        var Id = $(element).attr('data-id');
        $(".loader").removeClass("hidden");
        $('#edit-modal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });
    }

</script>