
<div>
    @(Html.Kendo().Grid<WPH.Models.CustomDataModels.Disease.Medicine_DiseaseViewModel>()
    .Name("KendoMedicineDiseaseGrid")
    .HtmlAttributes(new { ID = "idGridSymptomList", Class = "k-grid-header" })
    .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple))
    .PersistSelection(true) 
    .Columns(columns =>
    {

        

            columns.Bound(x => x.Guid).Hidden();
            columns.Bound(x => x.Id).Hidden();
            columns.Select().Width(50).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.MedicineJoineryName).Width(1000).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains))).Title("MedicineName").HtmlAttributes(new { @style = "text-align:center;" }).HeaderHtmlAttributes(new { @style = "text-align:center;" });
            columns.Bound(x => x.MedicineId).Hidden();
        

    })

        .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.Guid);
        })
        .PageSize(10)
        .Read(read => read.Action("GetAllMedicineForDisease", "Visit").Data("GetDiseaseIdForMedicines"))
        )
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Pageable(pageable => pageable
        .Input(true)
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5)
        
        .Numeric(true)) // Enable paging

        .Sortable().HtmlAttributes(new { @style = "direction: ltr;margin-top:2rem;overflow:auto" }) // Enable sorting


    )
</div>


