
<label class="block clearfix">
    <label for="form-field-8"></label>
    <span class="block input-icon input-icon-right">
        @(Html.Kendo().DropDownList()
        .Name("clinicSection")
        .DataTextField("Name")
        .DataValueField("Guid")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetAllClinicSectionsForUserWithParent", "ClinicSection", new { area = "" }).Data("getUserIdForClinicSection");
            })
            .ServerFiltering(false);
        })
        .HtmlAttributes(new { style = "width: 100%;" })
    )
    </span>
</label>

<div class="row">
    <div id="tree"></div>
</div>

<input class="hidden" type="text" id="user-id" data-Value="@ViewBag.userId" />

@*@Scripts.Render("~/bundles/Tree")*@

<script type="text/javascript">

    var clinicSectionDropDown;
    var tree;

    $(document).ready(function () {

        clinicSectionDropDown = $("#clinicSection").data("kendoDropDownList");

        if (clinicSectionDropDown !== undefined) {
            clinicSectionDropDown.bind("dataBound", clinicSectionDataBound);
            clinicSectionDropDown.bind("change", clinicSectionChange);
        }
        else {
            GetTree();
        }

        $('#btn-Access-accept').unbind('click');


    });

    function clinicSectionDataBound() {
        GetTree();
    }


    function clinicSectionChange() {
        tree.destroy();
        setTimeout(function () {
            GetTree();
        }, 200);
    }

    function GetTree() {

        var clinicSectionId;
        var UserId = $("#user-id").attr("data-Value");

        if (clinicSectionDropDown !== undefined) {
            clinicSectionId = clinicSectionDropDown.value();
        }
        else {
            clinicSectionId = null;
        }
        tree = $('#tree').tree({
            primaryKey: 'id',
            uiLibrary: 'bootstrap4',
            dataSource: { url: '/UserManagment/Get', data: { UserId: UserId, ClinicSectionId: clinicSectionId } },
            checkboxes: true
        });

    }


    $('#btn-Access-accept').on('click', function () {

        $(".loader").removeClass("hidden");
        var checkedIds = tree.getCheckedNodes();
        var UserId = $("#user-id").attr("data-Value");
        var clinicSectionId;
        if (clinicSectionDropDown !== undefined) {
            clinicSectionId = clinicSectionDropDown.value();
        }
        else {
            clinicSectionId = null;
        }
        $.ajax({
            url: '/UserManagment/SaveCheckedNodes',
            data: {
                CheckedIds: checkedIds,
                UserId: UserId,
                ClinicSectionId: clinicSectionId
            },
            method: 'POST',
            success: function (response) {
                $('#my-modal-Access').modal('toggle');
                $('#btn-Access-accept').unbind();
                $(".modal-backdrop:last").remove();
                $(".loader").fadeIn("slow");
                $(".loader").addClass("hidden");
            }
        });
    });

</script>
